@page "/register"

<PageTitle>Blazor Client - Register</PageTitle>

<section>
    <MudContainer MaxWidth="MaxWidth.Small">

        <EditForm Model="@_registerUser" OnValidSubmit="OnRegisterAsync">
            <DataAnnotationsValidator />

            <MudCard Elevation="5">

                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h2" Align="Align.Center">Sign up</MudText>
                        <MudDivider DividerType="DividerType.Middle" />
                    </CardHeaderContent>
                </MudCardHeader>

                <MudCardContent>
                    <div class="d-flex align-center">
                        <MudTextField Label="Username"
                                      Class="mt-3"
                                      @bind-Value="_registerUser.Username"
                                      For="@(() => _registerUser.Username)" />
                    </div>
                    <div class="d-flex align-center">
                        <MudTextField Label="Email"
                                      Class="mt-3"
                                      @bind-Value="_registerUser.Email"
                                      For="@(() => _registerUser.Email)" />
                    </div>
                    <div class="d-flex align-center">
                        <MudTextField Label="Password"
                                      Class="mt-3"
                                      @bind-Value="_registerUser.Password"
                                      For="@(() => _registerUser.Password)"
                                      InputType="@_passwordInput"
                                      Adornment="Adornment.End"
                                      AdornmentIcon="@_passwordInputIcon"
                                      OnAdornmentClick="ToggleShowPassword"
                                      AdornmentAriaLabel="Show Password" />
                    </div>
                    <div class="d-flex align-center">
                        <MudTextField Label="Confirm Password"
                                      Class="mt-3"
                                      @bind-Value="_registerUser.ConfirmPassword"
                                      For="@(() => _registerUser.ConfirmPassword)"
                                      InputType="@_passwordInput" />
                    </div>
                </MudCardContent>

                <MudCardActions Class="d-flex justify-center">
                    <MudButton Class="mx-2" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Create Account</MudButton>
                    <MudButton Class="mx-2" ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Error" @onclick="() => OnCancel()">Cancel</MudButton>
                </MudCardActions>

            </MudCard>

        </EditForm>

        @if (_showError)
        {
            @if (_showError)
            {
                <MudAlert Severity="Severity.Error">@_errorText</MudAlert>
            }
        }
    </MudContainer>
</section>
