@page "/counter"

<PageTitle>Blazor Client - Counter</PageTitle>

<section>
    <Notification ShowError="@_showError"
                  ShowSuccess="@_showSuccess"
                  ShowInfo="@_showInfo"
                  Message="@_feedback" />

    <MudContainer MaxWidth="MaxWidth.ExtraLarge">
        <MudText Typo="Typo.h2">Counter</MudText>
        <MudText Class="mt-3 ml-1" Typo="Typo.h5">Current count: @_currentCount</MudText>
        <MudButton Class="mt-5 ml-1" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" OnClick="IncrementCount">Click me</MudButton>
        <MudButton Class="mt-5 ml-2" Variant="Variant.Filled" Color="Color.Warning" Size="Size.Large" OnClick="ResetCount">Reset</MudButton>
    </MudContainer>
</section>

@code {
    private bool _showError = false;
    private bool _showSuccess = false;
    private bool _showInfo = false;
    private string _feedback = "";
    private int _currentCount = 0;

    private void IncrementCount()
    {
        _currentCount += 1;
        _showInfo = true;
        _feedback = $"The current count is: {_currentCount}";
    }

    private void ResetCount()
    {
        _currentCount = 0;
        _showInfo = false;
        _feedback = "";
    }
}